@font-face
	font-family 'Play'
	src url('../../misc/fonts/Play-Regular.woff2') format('woff2'),
			url('../../misc/fonts/Play-Regular.woff') format('woff')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family 'Play'
	src url('../../misc/fonts/Play-Bold.woff2') format('woff2'),
			url('../../misc/fonts/Play-Bold.woff') format('woff')
	font-weight bold
	font-style normal
	font-display swap
